/* [-----------------------------------] Start Global Rules [-----------------------------------] */
* {
  box-sizing: border-box;
  margin: 0; }

*,
*:focus,
*:hover {
  outline: none; }

html {
  height: 100%;
  font-size: 1em;
  scroll-behavior: smooth; }

body {
  background-color: #FFFFFF;
  font-size: 0.875rem;
  font-family: Charlie Sans Display, Charlie Sans Text, San Francisco UI, Roboto, Segoe UI, sans-serif;
  line-height: 1.5rem;
  color: #172B4D;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%; }

img {
  display: block;
  max-width: 100%; }

/* [------------------------------------] End Global Rules [------------------------------------] */
/* [---------------------------------] Start General Elements [---------------------------------] */
.mainContent {
  width: 100%;
  margin: 0 auto;
  min-height: 100%; }

footer {
  margin-top: auto;
  background: #DFE1E6;
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 52px; }

.titleImg {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: center; }

.characterIcon {
  display: inline-grid;
  grid-template-columns: 1.5rem 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0.25em;
  grid-row-gap: 0px;
  height: 1.5rem;
  position: relative;
  top: 0.5em; }
  .characterIcon img {
    height: 100%; }

.push_down {
  height: 100vh; }

.genericFlexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-start; }

/* [------------------------------------] Start Navigation [------------------------------------] */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 14px 10%;
  background-color: #FF5D5D;
  color: #FFFFFF; }
  header a {
    text-decoration: none; }
  header a, header a:visited {
    color: #FFFFFF; }
  header a:hover {
    color: #0052CC;
    text-decoration: none; }

.logo {
  margin-right: auto;
  font-size: 1.25rem; }

.logo:hover {
  color: #FFFFFF; }

.nav__links {
  list-style: none;
  display: flex; }

.nav__links a,
.cta,
.overlay__content a {
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none; }

.nav__links li {
  padding: 0px 20px; }

.nav__links li a {
  transition: all 0.3s ease 0s; }

.nav__links li a:hover {
  color: #172B4D; }

.cta {
  margin-left: 20px;
  padding: 4px 25px;
  background-color: #6B778C;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s; }

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8); }

/* Mobile Nav */
.menu {
  display: none; }

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s; }

.overlay--active {
  width: 100%; }

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s; }

.overlay a:hover,
.overlay a:focus {
  color: #0052CC; }

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #FFFFFF;
  cursor: pointer; }

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none; }
  .menu {
    display: initial; } }

/* [-------------------------------------] End Navigation [-------------------------------------] */
/* [---------------------------------] Start General Elements [---------------------------------] */
/* [------------------------------------] Start Typography [------------------------------------] */
a,
a:visited {
  color: #0052CC;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.strong {
  font-weight: 600; }

.italic {
  font-style: italic; }

.small {
  font-size: 11px; }

.capslock {
  text-transform: capitalize; }

.center {
  text-align: center; }

.subtitle {
  font-size: 1.25rem;
  color: #6B778C;
  font-weight: 500;
  line-height: 1.25rem; }

blockquote {
  color: #6B778C;
  border-left: 1px solid #DFE1E6;
  padding: 10px 20px; }

.author {
  text-align: right;
  font-style: italic; }

ol {
  display: block;
  list-style-type: decimal;
  line-height: 1.25rem; }

ul {
  line-height: 1.25rem; }

.title {
  font-size: 2.1875rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 40px;
  margin-top: 52px; }

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 28px;
  margin-top: 40px; }

h2 {
  font-size: 1.8125rem;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 32px;
  margin-top: 48px; }

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.008em;
  line-height: 24px;
  margin-top: 36px; }

h4 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.006em;
  line-height: 24px;
  margin-top: 32px; }

h5 {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 1.25rem;
  margin-top: 24px; }

h6 {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1rem;
  margin-top: 20px;
  text-transform: uppercase; }

/* [-------------------------------------] End Typography [-------------------------------------] */
/* [-----------------------------------] Start Card Sytles  [-----------------------------------] */
.card-container {
  gap: 2rem;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 2rem; }

.blog-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
  padding: 0 2rem; }

.card {
  border-radius: 4px;
  max-width: 960px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: grid;
  grid-template-areas: "." "." "." "." "."; }

.card-title {
  padding: 0.5em 0;
  font-weight: 900;
  font-size: 1.25rem;
  text-align: center; }

.card-img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: center; }

.card-data {
  text-align: center;
  padding: 0.5em 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: ". . . . . . ." ". . . . . . ."; }
  .card-data .Startup {
    color: #36B37E; }
  .card-data .Recovery {
    color: #0069B6; }
  .card-data .Active {
    color: #FF5D5D; }

.card-data div:nth-child(-n+7) {
  font-weight: 700; }

.card-data div:nth-last-child(-n+7) {
  font-size: 1.25rem;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #DFE1E6; }

.card-chart-container {
  height: 30px;
  width: 100%;
  max-width: 960px;
  overflow-x: scroll;
  overflow-y: hidden; }

.card-line {
  height: 16px;
  width: calc(100%-8px);
  padding: 0 8px 1em 8px;
  border-bottom: 2px solid #DFE1E6; }

.card-description {
  padding: 1.5rem 1rem; }

/* [------------------------------------] End Card Sytles  [------------------------------------] */
