@import 'variables';
// https://github.com/twbs/rfs#usage
@import "../node_modules/rfs/scss";

// This is a work in progress


/* [-----------------------------------] Start Global Rules [-----------------------------------] */

* {
  box-sizing: border-box;
  margin: 0;
}

*,
*:focus,
*:hover {
  outline: none;
}

html {
  height: 100%;
  font-size: 1em;
  scroll-behavior: smooth;
}

body {
  background-color: $color-white;
  font-size: $font-size-medium;
  font-family: $font-stack;
  line-height: $line-height-longform;
  color: $color-primary;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

/* [------------------------------------] End Global Rules [------------------------------------] */

/* [---------------------------------] Start General Elements [---------------------------------] */

.mainContent {
  // max-width: 960px;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
}

footer {
  margin-top: auto;
  background: $color-N40;
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 52px;
}

.titleImg {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: center;
}

.characterIcon {
  display: inline-grid;
  grid-template-columns: $line-height-longform 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0.25em;
  grid-row-gap: 0px;
  height: $line-height-longform;
  position: relative;
  top: 0.5em;
  img {
    height: 100%;
  }
}

.push_down {
  height: 100vh;
}

.genericFlexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-start;
}

/* [------------------------------------] Start Navigation [------------------------------------] */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 14px 10%;
  background-color: $color-red;
  color: $color-white;
  
  
  a {
    text-decoration: none;
  }

  a, a:visited {
    color: $color-white;
  }
  a:hover {
    color: $color-link-blue;
    text-decoration: none;
  }
}

.logo {
  margin-right: auto;
  font-size: $font-size-large;
}

.logo:hover {
  color: $color-white;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: $color-primary;
}

.cta {
  margin-left: 20px;
  padding: 4px 25px;
  background-color: $color-light-grey;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: $color-link-blue;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: $color-white;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

/* [-------------------------------------] End Navigation [-------------------------------------] */

/* [---------------------------------] Start General Elements [---------------------------------] */

/* [------------------------------------] Start Typography [------------------------------------] */

a,
a:visited {
  color: $color-link-blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.strong {
  font-weight: $font-weight-heavy;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 11px;
}

.capslock {
  text-transform: capitalize;
}

.center {
  text-align: center;
}

.subtitle {
  font-size: $font-size-large;
  color: $color-light-grey;
  font-weight: $font-weight-medium;
  line-height: $font-size-large;
}

blockquote {
  color: $color-light-grey;
  border-left: 1px solid $color-N40;
  padding: 10px 20px;
}

.author {
  text-align: right;
  font-style: italic;
}

ol {
  display: block;
  list-style-type: decimal;
  line-height: $line-height-insert;
}

ul {
  line-height: $line-height-insert;
}

.title { // Oversized screen titles
  font-size: 2.1875rem;
  font-weight: $font-weight-medium; // medium
  letter-spacing: -0.01em;
  line-height: 40px;
  margin-top: 52px;
}

h1 { // Main Page Title (use once per page)
  font-size: 1.5rem;
  font-weight: $font-weight-medium;
  letter-spacing: -0.01em;
  line-height: 28px;
  margin-top: 40px;
}

h2 { // Top level headers
  font-size: $font-size-very-large;
  font-weight: 600; // semibold
  letter-spacing: -0.01em;
  line-height: 32px;
  margin-top: 48px;
}

h3 { // Headings that identify key features
  font-size: $font-size-large;
  font-weight: $font-weight-medium; // medium
  letter-spacing: -0.008em;
  line-height: 24px;
  margin-top: 36px;
}

h4 { // Sub Section Headers
  font-size: 1rem;
  font-weight: 600; // semibold
  letter-spacing: -0.006em;
  line-height: 24px;
  margin-top: 32px;
}

h5 { // Deep Headings and important information highlighting
  font-size: $font-size-medium;
  font-weight: 600; // semibold
  letter-spacing: -0.003em;
  line-height: $line-height-insert;
  margin-top: 24px;
}

h6 { // List Heading
  font-size: $font-size-small;
  font-weight: 600; // semibold
  letter-spacing: 0;
  line-height: 1rem;
  margin-top: 20px;
  text-transform: uppercase;
}

/* [-------------------------------------] End Typography [-------------------------------------] */

/* [-----------------------------------] Start Card Sytles  [-----------------------------------] */

.card-container {
  gap: 2rem;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 2rem;
}

.blog-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
  padding: 0 2rem;
}

.card {
  // background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
  border-radius: 4px;
  max-width: 960px;
  box-shadow: $moderate-shadow;
  display: grid;
  grid-template-areas:
    "."
    "."
    "."
    "."
    ".";
}

.card-title {
  padding: 0.5em 0;
  font-weight: 900;
  font-size: $font-size-large;
  text-align: center;
}

.card-img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: center;
}

.card-data {
  text-align: center;
  padding: 0.5em 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  // grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". . . . . . ."
    ". . . . . . .";
  .Startup {
    color: $color-green;
  }
  .Recovery {
    color: $color-blue;
  }
  .Active {
    color: $color-red;
  }
}

.card-data div:nth-child(-n+7) { // first row (cells 0 through 7)
  font-weight: 700;
}

.card-data div:nth-last-child(-n+7) { // last row (cells n  through n-7)
  font-size: $font-size-large;
  padding-bottom: 0.5em;
  border-bottom: 2px solid $color-N40;
}


.card-chart-container {
  height: 30px;
  width: 100%;
  max-width: 960px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.card-line {
  height: 16px;
  width: calc(100%-8px);
  padding: 0 8px 1em 8px;
  border-bottom: 2px solid $color-N40;
}

.card-description {
  padding: $line-height-longform 1rem;
}

//I'll figure this out later
// .startup-area:hover {

// }
// .active-area:hover {
  
// }
// .recovery-area:hover {
  
// }

/* [------------------------------------] End Card Sytles  [------------------------------------] */