$font-stack: Charlie Sans Display, Charlie Sans Text, San Francisco UI, Roboto, Segoe UI, sans-serif;

$color-primary: #172B4D; // squid ink Black
$color-link-blue: #0052CC; // Pacific Bridge blue
$color-blue: #0069B6;
$color-white: #FFFFFF;
$color-red: #FF5D5D; 
$color-yellow: #FFAB00; // Golden State Yellow
$color-green: #36B37E; // Fine Pine Green
$color-cyan: #00B8D9; //Tamarama Cyan
$color-purple: #A75799; 
$color-light-grey: #6B778C; // Bling bling Grey
$color-N40: #DFE1E6; // Jolly fun time Grey

$line-height-longform: 1.5rem;
$line-height-insert: 1.25rem;

$font-size-very-large: 1.8125rem;
$font-size-large: 1.25rem;
$font-size-medium: 0.875rem;
$font-size-small: 0.75rem;
$font-size-tiny: 0.6875rem;
$font-weight-heavy: 600;
$font-weight-medium: 500;

$moderate-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);