<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Fighting Game Primer</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div id="app">

  <nav class="red lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="index.html" class="brand-logo">BetterWiki</a>
      <ul class="right hide-on-med-and-down">
        <li v-if="locale == 0"><a v-on:click="locale = 1">Switch to Japanese <img width="40px"src="assets/img/japan.svg"/></a></li>
        <li v-else><a v-on:click="locale = 0">英語に通訳 <img width="40px"src="assets/img/usa.svg"/></a></li>
        <li><a href="chara-viewer.html"> {{ localization[locale].wiki }} </a></li>
        <li><a href="Blog.html"> {{ localization[locale].blog }} </a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <a class="waves-effect waves-light btn-small">Button</a>
        <li><a href="chara-viewer.html">Character Data</a></li>
        <li><a href="Blog.html">Getting Started</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container section">
    <move-data-item 
      v-for="move in moveList"
      v-bind:move="move"
      v-bind:locale="locale"
      v-bind:localization="localization"
      v-bind:key="move.id"
    ></move-data-item>
  </div>
  <br><br>
  </div>

  <footer class="page-footer grey lighten-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="grey-text text-darken-4">About This Project</h5>
          <p class="grey-text text-darken-1">This is a test page used to help me learn modern web development standards.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="grey-text text-darken-4">Technologies Used</h5>
          <ul>
            <li><a class="blue-text" href="https://v3.vuejs.org/" target="_Blank">Vue.js</a></li>
            <li><a class="blue-text" href="https://materializecss.com/" target="_Blank">MaterializeCSS</a></li>
          </ul>
        </div>

        <div class="col l3 s12">
          <h5 class="grey-text text-darken-4">Asset Sources</h5>
          <ul>
            <li><a class="blue-text" href="https://arcsystemworks.com/" target="_Blank">Arc System Works</a></li>
            <li><a class="blue-text" href="https://www.flaticon.com/authors/freepik" target="_Blank">Freepik</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container red-text text-lighten-3">
      Made by <a class="red-text text-lighten-1" href="http://blacktarkus.github.io/" target="_Blank">Cody "Tarkus" Lee</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/index.js"></script>
  <script>
    $(document).ready(function(){
      $('.tooltipped').tooltip({inDuration: 150, outDuration: 100, transitionMovement: 8, margin: 0});
    });
  </script>

  </body>
</html>
